html{
    height: 100%;
    margin: 0;
    padding: 0;
}

#wrapper{
    min-height: 100%;
    position: relative;
}

body{
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

#top{
    top: 0;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #E8E8E8;
    display: flex;

}
    #navbar_kiri{
        position: relative;
        display: flex;
        justify-content: flex-start;
        z-index: 10;
        width: 50%;
        flex-grow: 8;
    }

        #navbar_kiri a{
            margin: 20px;
            text-decoration: none;
            color: #ff8000;
        }

    #navbar_kanan {
        display: inline-flex;
        justify-content: flex-end;
        background-color: white;
        position: relative;
        z-index: 11;
        flex-grow: 1;
    }

        #navbar_kanan a{
            margin: 20px;
            text-decoration: none;
            color: black;
        }

        #navbar_kanan #dropdown {
            position: relative;
            display: inline-block;
        }

            #navbar_kanan #dropdown img{
                border-radius: 50%;
                margin: 12px 20px 7px 20px;
                max-width: 40px;
            }

        #navbar_kanan #dropdown-content {
            display: none;
            position: absolute;
            right: 0px;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 12px 16px;
            z-index: 25;
        }

        #dropdown:hover #dropdown-content {
            display: block;
        }

#body {
    float: center;
}

    #body #bodyartikel2 {
        width: 1000px;
        margin: 25px auto;
        top: 0;
        align-content: center;
    }

    #flexbod{
        display: flex;
    }

    #padding{
        padding: 15px;
    }

    #price{
        padding: 15px;
        position: relative;
        top: 50%;
    }

        #body #bodyartikel2 #leftposttop{
            flex-grow: 1;
            background-color: #E8E8E8;
        }

        #body #bodyartikel2 #rightposttop{
            flex-grow: 13;
            background-color: #E8E8E8;
        }

        #body #bodyartikel2 #leftpost{
            flex-basis: 140px;
            flex-grow: 5;
            padding: 10px 0;
            border-bottom: 1px solid #B8B8B8;
            border-left: 1px solid #B8B8B8;
        }

        #body #bodyartikel2 #rightpost{
            flex-basis: 100px;
            flex-grow: 13;
            padding: 10px 0;
            border-bottom: 1px solid#B8B8B8;
            border-right: 1px solid #B8B8B8;
        }

#obj-post{
padding: 30px 0 0 50px;
padding-right: 50px;
}

    #obj-post a{
        background-color: white;
        border-radius: 30px;
        cursor: pointer;
        text-decoration: none;
        border: 1px solid #B8B8B8;
        padding: 2px 10px;
        align-content: center;
        color: black;
        margin-right: 7px;
    }

    #obj-post a:hover{
        border: 1px solid #ff4000;
        color: #ff4000;
    }

#obj-judul{
font-size: 20px;
font-weight: bold;
}

        #body #bodyartikel2 img{
            max-width: 340px;
            margin-bottom: -3px;
        }

        #body #bodyartikel2 #padding a{
            background-color: #ff8000;
            width: 100%;
            color: white;
            padding: 12px 132px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 20px;
            text-decoration: none;
        }   

        #body #bodyartikel2 #padding a:hover {
            background-color: #ff4000;
        }

#infofooter600{
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 50px;
}   

#footer {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    color: white;
    background-color: orangered;
    text-align: center;
    padding: 5px;
}

