html{
    height: 100%;
    margin: 0;
    padding: 0;
}

#wrapper{
    min-height: 100%;
    position: relative;
}

body{
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    background-color: #ffffff;
}

#topr{
    top: 0;
    position: relative;
    z-index: 1;
    background-color: #0F63C0;
    height: 61px;
}

#top{
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 15;
    display: flex;
    background-color: #0F63C0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

    #navbar_kiri{
        position: relative;
        display: flex;
        justify-content: flex-start;
        z-index: 10;
        width: 50%;
        flex-grow: 7;
    }

        #navbar_kiri a{
            display: block;
            padding: 20px 40px;
            text-decoration: none;
            color: #063A74;
            background-color: #5890CF;
        }

        #navbar_kiri input[type=text] {
            display: block;
            width: 25vw;
            padding: 5px 5px;
            margin: 10px 15px;
            box-sizing: border-box;
            border: none;
            font-size: 17px;
            background-color: #ffffff;
        }

        #result_sem {
            margin-top: 61px;
            margin-left: 177px;
            position: absolute;
            background-color: #f9f9f9;
            z-index: 25;
            width: 500px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }   

            #result_sem a{
                display: block;
                text-decoration: none;
                color: black;
                padding: 15px 30px 15px 20px;
            }      

            #result_sem a:hover{
                color: #063A74;
                background-color: #dedede;
            }  

    #navbar_kanan {
        display: inline-flex;
        justify-content: flex-end;
        background-color: #0F63C0;
        position: relative;
        z-index: 11;
        flex-grow: 1;
        
    }

        #navbar_kanan #a{
            display: block;
            text-align: center;
            padding: 20px 20px;
            text-decoration: none;
            color: rgb(145, 195, 253);
        }

        #navbar_kanan #a:hover{
            color: white;
            background-color: #5890CF;
            transition: 0.5s;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            right: 0px;
            top: 61px;
            background-color: #ffffff;
            min-width: 100px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 25;
        }

        .dropdown-content a{
            display: block;
            width: 130px;
            padding: 10px 40px;
            text-decoration: none;
            color: black;
        }

        .dropdown-content a:hover{
            background-color: #dedede;
            color: #063A74;
        }


        /*new*/
        .dropdown {
            width: auto;
            display: flex;
            align-items: center;
            padding: 0px 10px 0px 20px;
            cursor: pointer;
            color: rgb(145, 195, 253);
        }

        .dropdown:hover {
            background-color: #5890CF;
            color: white;
            transition: 0.5s;
        }

        .dropdown #p{
            position: relative;
        }
        
        .imgdrop{
            border-radius: 50%;
            border: 2px solid #0F63C0;
            max-width: 38px;
            padding: 3px;
            margin-left: 5px;
        }
        
        /* CSS Icon User Click
        
        .dropbtn {
            background-color: #3498DB;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
            z-index: 30;
          }
          
        .dropbtn:hover, .dropbtn:focus {
            background-color: #2980B9;
        }

        .show {
            display: block;
        }*/

#header {
    position: relative;
}
        
    #header img {
        pointer-events: none;
        width: 100%;
        height: auto;
        z-index: 2;
        opacity: 1;
    }

#smart {
    margin: -70px 130px 20px 130px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #063A74;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 12;
    position: relative;
}
    
    #smart #item{
        margin: 20px;
    }   

        #result_loc{
            margin-top: 10px;
            position: absolute;
            background-color: #f9f9f9;
            z-index: 25;
            width: 500px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }   

            #result_loc a{
                display: block;
                text-decoration: none;
                color: black;
                padding: 15px 30px 15px 20px;
            }      

            #result_loc a:hover{
                color: #063A74;
                background-color: #dedede;
            }  
    
        #smart #label{
            color: rgb(145, 195, 253);
        }

        #smart input[type=text] {
            display: block;
            width: 15vw;
            padding: 5px 5px;
            margin: 5px 0;
            box-sizing: border-box;
            border: none;
            font-size: 20px;
            border-bottom: 2px solid #ffffff;
            background-color: #063A74;
            color: rgb(145, 195, 253);
        }
          
        /*the container must be positioned relative:*/
        .custom-select {
            position: relative;
            width: 15vw;
            font-size: 18px;
        }
  
        .custom-select select {
            display: none; /*hide original SELECT element:*/
        }
  
        .select-selected {
            background-color: #063A74;
            border-bottom: 2px solid #ffffff;
        }
  
        /*style the arrow inside the select element:*/
        .select-selected:after {
            position: absolute;
            content: "";
            top: 14px;
            right: 10px;
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
        }
  
        /*point the arrow upwards when the select box is open (active):*/
        .select-selected.select-arrow-active:after {
            border-color: transparent transparent rgba(255, 255, 255, 0.5) transparent;
            top: 7px;
        }
  
        /*style the items (options), including the selected item:*/
        .select-items div,.select-selected {
            color: rgb(145, 195, 253);
            padding: 8px 16px;
            cursor: pointer;
            user-select: none;
        }
  
        /*style items (options):*/
        .select-items {
            position: absolute;
            background-color: #0F63C0;
            border: 1px solid #000000;
            border-color: rgba(0, 0, 0, 0.1);
            top: 100%;
            left: 0;
            right: 0;
            z-index: 99;
        }
  
        /*hide the items when the select box is closed:*/
        .select-hide {
            display: none;
        }
  
        .select-items div:hover, .same-as-selected {
            background-color: rgba(0, 0, 0, 0.1);
            color: #ffffff;
        }

#body {
    float: center;
}

#postinduk{
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
}

    #postinduk #post {
        width: 100%;
        flex-basis: 480px;
        margin: 0 0 25px 25px;
        margin-top: 0;
	    background: #fff;
        border:1px solid #dedede;
        position: relative;
    }
    #postinduk #post:hover {
        --colpos:yellow;
    }
    :root{
        --colpos: rgba(0, 0, 0, 0.8);
    }

        #postinduk #post img {
	        min-width: 100px;
            margin:0;
            margin-bottom: -5px;
            max-height: 290px;
        }

        #postinduk #post #descbox {
            cursor: pointer;
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            background-color:var(--colpos);
            color: white;
            padding-left: 20px;
            padding-right: 20px;
            width: 40%;
        }

            #postinduk #post #descbox #namaseminar {
                text-align: left;
                font-size: 20px;
                margin: 70px 0 0 0;
                left: 0;
                font-weight: bold;
            } 

            #postinduk #post #descbox #dateseminar {
                text-align: left;
            } 

            #postinduk #post #descbox #locseminar {
                text-align: left;
            } 

#infofooter{
    position: relative;
    width: 100%;
    height: 100px;
    bottom: 0;
    background-color: rgba(230, 179, 11, 0.787);
    text-align: center;
    padding: 5px;
}   

#footer {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    color: white;
    background-color: rgba(47, 47, 47, 0.815);
    text-align: center;
    padding: 5px;
}



@media screen and (max-width: 600px) {

    #infofooter600{
        position: relative;
        width: 100%;
        height: 50px;
    }   
}    
            
    