html{
    height: 100%;
    margin: 0;
    padding: 0;
}

#wrapper{
    min-height: 100%;
    position: relative;
}

body{
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

#topr{
    top: 0;
    position: relative;
    z-index: 1;
    background-color: #0F63C0;
    height: 61px;
}

#top{
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 15;
    display: flex;
    background-color: #0F63C0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

    #navbar_kiri{
        position: relative;
        display: flex;
        justify-content: flex-start;
        z-index: 10;
        width: 50%;
        flex-grow: 7;
    }

        #navbar_kiri a{
            display: block;
            padding: 20px 40px;
            text-decoration: none;
            color: #063A74;
            background-color: #5890CF;
        }

    #navbar_kanan {
        display: inline-flex;
        justify-content: flex-end;
        background-color: #0F63C0;
        position: relative;
        z-index: 11;
        flex-grow: 1;
    }

        .dropdown-content {
            display: none;
            position: absolute;
            right: 0px;
            top: 61px;
            background-color: #ffffff;
            min-width: 100px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 25;
        }

        .dropdown-content a{
            display: block;
            width: 130px;
            padding: 10px 40px;
            text-decoration: none;
            color: black;
        }

        .dropdown-content a:hover{
            background-color: #dedede;
            color: #063A74;
        }

        /*new*/
        .dropdown {
            width: auto;
            display: flex;
            align-items: center;
            padding: 0px 10px 0px 20px;
            cursor: pointer;
            color: rgb(145, 195, 253);
        }

        .dropdown:hover {
            background-color: #5890CF;
            color: white;
            transition: 0.5s;
        }

        .dropdown #p{
            position: relative;
        }
        
        .imgdrop{
            border-radius: 50%;
            border: 2px solid #0F63C0;
            width: 38px;
            height: 38px;
            object-fit: cover;
            padding: 3px;
            margin-left: 5px;
        }

#body {
    float: center;
}

    #body #bodyartikel2 {
        width: 1000px;
        margin: 25px auto;
        top: 0;
    }

        #body #bodyartikel2 #leftbody {
            width: 250px;
            position: absolute;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }

.objleft{
    padding-left: 10px;
    background-color: #FFF55F;
}

    .objleft a{
        display: block;
        text-decoration: none;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 15px;
        color: #063A74;
        cursor: pointer;
        font-size: 15px;
    }

    .objleft:hover{
        background-color: #E5D600;
    }

.active{
    padding-left: 10px;
    background-color: #E5D600;
}

    .active a{
        display: block;
        text-decoration: none;
        width: 100%;
        cursor: pointer;
        font-size: 15px;
        color: #063A74;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 15px;
    }   

    #body #bodyartikel2 #mainright{
        width: 75%;
        margin-left: 270px;
    }

        #body #bodyartikel2 #mainright #rightbody {
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }

        #body #bodyartikel2 #mainright #rightbody2 {
            margin-top: 20px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }

        #body #bodyartikel2 #mainright #rightbody3 {
            margin-top: 20px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            display: flex;
        }

#objright{
    padding: 35px 40px 40px 40px;   
    background-color: #5890CF;
}

#objright2{
    padding: 10px 40px 10px 40px; 
}

    #objright2 *{
        box-sizing: border-box;
    }

    #objright2 #col-25{
        float: left;
        padding: 15px 0 20px; 
        width: 25%;
        margin-top: 6px;
    }

    #objright2 #avatar{
        float: left;
        padding: 10px 0 10px; 
        width: 15%;
    }

    #objright2 #upload{
        float: left;
        padding: 10px 20px 10px; 
        width: 60%;
    }

    #objright2 #col-75{
        float: left;
        padding: 10px 0 10px; 
        width: 75%;
    }

    #objright2 img{
        max-width: 100px;
    }

        #objright2 input[type=text], input[type=date], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }

    #objright2 input[type=submit] {
        background-color: #5890CF;
        border: none;
        width: 30%;
        color: #063A74;
        padding: 12px 20px;
        border-radius: 4px;
        cursor: pointer;
    }

    #objright2 input[type=submit]:hover {
        background-color: #063A74;
        color: #ffffff;
    }

#row:after {
    content: "";
    display: table;
    clear: both;
}

#objright3{
    width: 40%;
    flex-grow: 1;
}

    #objright3 img{
        width: 100%;
        margin-bottom: -4px;
    }

#objright4{
    width: 60%;
    height: 100%;
    padding: 30px 50px 20px 30px;
}

    #objright4 #namaseminar{
        font-size: 25px;
        font-weight: bold;
        text-align: left;
        padding-bottom: 10px;
    }

    #objright4 #dateseminar {
        text-align: left;
    } 

    #objright4 #locseminar {
        text-align: left;
    } 

    #objright4 #bota{
        padding-top: 20px;
    }

    #objright4 #bota a{
        background-color: #5890CF;
        color: #063A74;
        padding: 12px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
    } 

        #objright4 #bota a:hover {
            background-color: #063A74;
            color: #ffffff;
        }


#infofooter600{
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 50px;
}   

#footer {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    color: white;
    background-color: #063A74;
    text-align: center;
    padding: 5px;
}
