html{
    height: 100%;
    margin: 0;
    padding: 0;
}

#wrapper{
    min-height: 100%;
    position: relative;
}

body{
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

#top{
    top: 0;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #E8E8E8;
    display: flex;

}
    #navbar_kiri{
        position: relative;
        display: flex;
        justify-content: flex-start;
        z-index: 10;
        width: 50%;
        flex-grow: 8;
    }

        #navbar_kiri a{
            margin: 20px;
            text-decoration: none;
            color: #ff8000;
        }

    #navbar_kanan {
        display: inline-flex;
        justify-content: flex-end;
        background-color: white;
        position: relative;
        z-index: 11;
        flex-grow: 1;
    }

        #navbar_kanan #dropdown {
            position: relative;
            display: inline-block;
        }

            #navbar_kanan #dropdown img{
                border-radius: 50%;
                margin: 12px 20px 7px 0;
                max-width: 40px;
            }

        #navbar_kanan #dropdown-content {
            display: none;
            position: absolute;
            right: 0px;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 25;
        }

        #dropdown:hover #dropdown-content {
            display: block;
        }

        #navbar_kanan #dropdown #dropdown-content a{
            display: block;
            width: 100%;
            padding: 20px 20px;
            text-decoration: none;
            color: black;
        }

        #navbar_kanan #dropdown #dropdown-content a:hover{
            background-color: #dedede;
            color: orangered;
        }

#body {
    float: center;
}

    #body #bodyartikel2 {
        width: 1000px;
        margin: 25px auto;
        top: 0;
    }

        #body #bodyartikel2 #leftbody {
            width: 250px;
            border: 1px solid #B8B8B8;
            border-bottom: none;
            position: absolute;
        }

#objleft{
    border-bottom: 1px solid #B8B8B8;
    padding-left: 10px;
}

    #objleft a{
        display: block;
        text-decoration: none;
        width: 100%;
        padding-top: 7px;
        padding-bottom: 10px;
        color: black;
        cursor: pointer;
        font-size: 15px;
    }

    #objleft a:hover{
        color: #ff4000;
    }

#active{
    border-bottom: 1px solid #B8B8B8;
    padding-left: 10px;
    background-color: #E8E8E8;
}

    #active a{
        display: block;
        text-decoration: none;
        width: 100%;
        cursor: pointer;
        font-size: 15px;
        color: #ff4000;
        padding-top: 7px;
        padding-bottom: 10px;
    }

        #body #bodyartikel2 #rightbody {
            width: 75%;
            border: 1px solid #B8B8B8;
            margin-left: 270px;
        }

        #body #bodyartikel2 #rightbody2 {
            width: 75%;
            border: 1px solid #B8B8B8;
            border-top: none;
            margin-left: 270px;
        }

#objright{
    padding: 15px 20px 20px 20px;   
    border-bottom: 1px solid #B8B8B8;
}

#objright2{
    padding: 10px 20px 10px 20px; 
}

    #objright2 *{
        box-sizing: border-box;
    }

    #objright2 #col-25{
        float: left;
        padding: 15px 0 20px; 
        width: 25%;
        margin-top: 6px;
    }

    #objright2 #avatar{
        float: left;
        padding: 10px 0 10px; 
        width: 15%;
    }

    #objright2 #upload{
        float: left;
        padding: 10px 0 10px; 
        width: 60%;
    }

    #objright2 #col-75{
        float: left;
        padding: 10px 0 10px; 
        width: 75%;
    }

    #objright2 img{
        max-width: 100px;
    }

    #objright2 input[type=text], input[type=date], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    #objright2 input[type=submit] {
        background-color: #ff8000;
        width: 30%;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

#row:after {
    content: "";
    display: table;
    clear: both;
}

#infofooter600{
    position: relative;
    width: 100%;
    height: 50px;
}   

#footer {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    color: white;
    background-color: orangered;
    text-align: center;
    padding: 5px;
}